button {
  position: relative;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#webgazerFaceFeedbackBox {
  display: none;
}
